In [1]:
import pandas as pd

#Steps implemented for feature engineering
1. Import the Data
2. Remove the null record from the data

In [19]:
#Reading the input data
tweet_tr=pd.read_csv('train.csv')
tweet_tst=pd.read_csv('test.csv')

In [20]:
tweet_tr.head()

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative

In [21]:
tweet_tr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27481 entries, 0 to 27480
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   textID         27481 non-null  object
 1   text           27480 non-null  object
 2   selected_text  27480 non-null  object
 3   sentiment      27481 non-null  object
dtypes: object(4)
memory usage: 858.9+ KB

In [22]:
print(tweet_tr[tweet_tr['text'].isnull()==True])

         textID text selected_text sentiment
314  fdb77c3752  NaN           NaN   neutral

In [23]:
#Deleting the null row of data
tweet_tr=tweet_tr.drop(labels=[314],axis=0)

In [24]:
tweet_tr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27480 entries, 0 to 27480
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   textID         27480 non-null  object
 1   text           27480 non-null  object
 2   selected_text  27480 non-null  object
 3   sentiment      27480 non-null  object
dtypes: object(4)
memory usage: 1.0+ MB

In [25]:
#Checking test data for null
tweet_tst.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3534 entries, 0 to 3533
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   textID     3534 non-null   object
 1   text       3534 non-null   object
 2   sentiment  3534 non-null   object
dtypes: object(3)
memory usage: 83.0+ KB

#All records in test set is clean

In [34]:
#Check for hashtags in text and select_text
text_hash=[]
idx=0
for i in tweet_tr['text']:
    if '#' in i:
        text_hash.append(idx)
    idx+=1
print(len(text_hash))
select_text_hash=[]
idx=0
for i in tweet_tst['text']:
    if '#' in i:
        select_text_hash.append(idx)
    idx+=1
print(len(select_text_hash))

542
76

As both the columns 'text' as well as 'select_text' contains # so we will keep the hastag